.editor{
    min-width: 30vw;
    min-height: 30vh;
    max-width: 85vw;
    font-size: 15px;
    font-family: montserrat, serif;
    margin: 2%;
    padding-top: 1.4rem;
}
.editor h1{
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 8rem;
}